#login-button > i {
    font-family: Icons!important;
}

.ui.login.container {
    margin: auto;
    margin-top: 15.5em;
}

.login-input { 
    margin-bottom: 25px;
}

.login-panel-body{
    padding-top: 30px;
}

.login-button-div{
    margin-top: 10px;
}

